div{
    padding: 20px;
    border: red solid 2px;
    height: 200px;
    margin: 30px;
    border-radius:40px;
    width: 100px;
    float: left;
    vertical-align: middle;
    background-color: rosybrown;
}

#d2{
    padding: 20px;
    border: red solid 2px;
    height: 200px;
    margin: 30px;
    border-radius:40px;
    width: 100px;
    float: left;
}

#d3{
    padding: 20px;
    border: red solid 2px;
    height: 200px;
    margin: 30px;
    border-radius:40px;
    width: 100px;
    float: left;
}