h2{
    background-color: plum;
}
      table {
        width: 100%;
      }
      
      mat-icon {
        cursor: pointer;
      }

      th.mat-sort-header-sorted {
        color: black;
      }
    
    